<template>
  <h2>Ingreso de Inventario</h2>

  <form>
    <input v-model="inventario.nombre_ingreso" placeholder="nombre_ingreso" />
    <input v-model="inventario.area" placeholder="area" />
    <input v-model="inventario.ciudad" placeholder="ciudad" />
    <input v-model="inventario.producto" placeholder="producto" />
    <input v-model="inventario.cantidad" placeholder="cantidad" />
    <input v-model="inventario.serial" placeholder="serial" />    
    <input v-model="inventario.descripcion" placeholder="descripcion" />
    <input v-model="inventario.comentario_ingreso" placeholder="comentario de ingreso" />
    <input v-model="inventario.fecha_ingreso" placeholder="fecha ejm :2021-10-27T11:08" />
    
    <button v-on:click="ingresarInventario">Ingreso Inventario</button>
  </form>
</template>

<script>
import axios from "axios";

export default {
  name: "IngresoInventario",

  data: function() {
    return {
      inventario: {
        nombre_ingreso: "",
        area: "",
        ciudad: "",
        producto: "",
        cantidad: "",
        serial: "",
        descripcion: "",
        comentario_ingreso: "",
        fecha_ingreso: "",
      },
    };
  },

  methods: {
    ingresarInventario: function() {
      axios
        .post("https://inventariobe2021.herokuapp.com/inventario/", this.inventario)
        .then((respuesta) => {
          this.inventario.nombre_ingreso = "";
          this.inventario.area = "";
          this.inventario.ciudad = "";
          this.inventario.producto = "";
          this.inventario.cantidad = "";
          this.inventario.serial = "";    
          this.inventario.descripcion = "";
          this.inventario.comentario_ingreso = "";
          this.inventario.fecha_ingreso = "";
          alert(respuesta.data.mensaje);
        })
        .catch((error) => {
          alert("Error Ingresando Inventario");
          console.log(error);
        });
    },
  },
};
</script>

<style></style>