<template>
  <h1>Salida Inventario</h1>
  <form v-on:submit.prevent="sacarInventario">
    <input type="text" v-model="nombre_salida" placeholder="nombre" />
    <br />
    <input type="text" v-model="comentario_salida" placeholder="comentario salida" />
    <br />
    <input type="text" v-model="fecha_salida" placeholder="fecha salida ejm :2021-10-27T11:53" />
    <br />
    <input type="text" v-model="serial" placeholder="serial" />
    <br />
    <button type="submit">Sacar Inventario</button>
  </form>
</template>

<script>
import axios from "axios";

export default {
  name: "SalidaInventario",
  props: ["nombre_salida", "comentario_salida", "fecha_salida", "serial"],
  methods: {
    sacarInventario: function() {
      axios
        .put("https://inventariobe2021.herokuapp.com/inventario_detalle_view/" + this.serial, {
          nombre_salida: this.nombre_salida,
          comentario_salida: this.comentario_salida,
          fecha_salida: this.fecha_salida,
        })
        .then((respuesta) => {
          alert("Salida de inventario exitosa");
        })
        .catch(() => {
          alert("Error al sacar inventario");
        });
    },
  },
  created: function() {},
};
</script>

<style></style>