<template>
  <h2>Lista de Dispositivos</h2>

  <div v-for="dispositivo in lista_inventario" class="dispositivo">
    <p>{{ dispositivo.id }}</p>
    <p>{{ dispositivo.nombre_ingreso }}</p>
    <p>{{ dispositivo.nombre_salida }}</p>
    <p>{{ dispositivo.area }}</p>
    <p>{{ dispositivo.ciudad }}</p>
    <p>{{ dispositivo.producto }}</p>
    <p>{{ dispositivo.cantidad }}</p>
    <p>{{ dispositivo.serial }}</p>
    <p>{{ dispositivo.descripcion }}</p>
    <p>{{ dispositivo.comentario_ingreso }}</p>
    <p>{{ dispositivo.fecha_ingreso }}</p>
    <p>{{ dispositivo.comentario_salida }}</p>
    <p>{{ dispositivo.fecha_salida }}</p>
    


    <button v-on:click="borrarInventario(dispositivo.serial)">eliminar inventario</button>
    <button v-on:click="irAActualizarInventario(dispositivo)">actualizar inventario</button>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "VisualizarInventario",

  data: function() {
    return {
      lista_inventario: [],
    };
  },

  methods: {
    borrarInventario: function(serial) {
      axios
        .delete("https://inventariobe2021.herokuapp.com/inventario_detalle_view/" + serial)
        .then((respuesta) => {
          alert("El dispositivo se elimino exitosamente ");
          this.actualizarLista();
        })
        .catch((error) => {
          alert("Error borrando el dispositivo");
          console.log(error);
        });
    },

    irAActualizarInventario: function(dispositivo) {
      this.$router.push({
        name: "visualizarI",
        params: {
          id: dispositivo.id,
          nombre_ingreso: dispositivo.nombre_ingreso,
          nombre_salida: dispositivo.nombre_salida,
          area: dispositivo.area,
          ciudad: dispositivo.ciudad,
          producto: dispositivo.producto,
          cantidad: dispositivo.cantidad,
          serial: dispositivo.serial,
          descripcion: dispositivo.descripcion,
          comentario_ingreso: dispositivo.comentario_ingreso,
          fecha_ingreso: dispositivo.fecha_ingreso,
          comentario_salida: dispositivo.comentario_salida,
          fecha_salida: dispositivo.fecha_salida,
          
        },
      });
    },

    actualizarLista: function() {
      axios
        .get("https://inventariobe2021.herokuapp.com/inventario/")
        .then((respuesta) => {
          this.lista_inventario = respuesta.data;
        })
        .catch((error) => {
          alert("Error obteniendo inventario");
          console.log(error);
        });
    },
  },

  created: function() {
    this.actualizarLista();
  },
};
</script>

<style>
.cuadro_estudiante {
  border: 1px solid;
  width: 20%;
  background-color: antiquewhite;
  margin: auto;
}

body {
  text-align: center;
}
</style>