<template>
<h1>Inventario Web</h1>
<nav>
<button v-on:click="irAIngresarInventario">Ingresar Inventario</button>
<button v-on:click="irASacarInventario">Sacar Inventario</button>
<button v-on:click="irAVisualizarInventario">Visualizar Inventario</button>
</nav>
<router-view></router-view>
</template>


<script>
export default {
  name: "App",

  methods: {
    irAVisualizarInventario: function() {
      this.$router.push({ name: "visualizarI" });
    },
    irAIngresarInventario: function() {
      this.$router.push({ name: "ingresoI" });
    },
    irASacarInventario: function() {
      this.$router.push({ name: "salidaI" });
    },
  },
};
</script>

<style></style>
